<ion-modal-view class="changepassword">
    <ion-header-bar>
        <h1 class="title">Change Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeChangePasswordModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitChangePasswordModal()" class="contentchangepass">
            <div class="list">
                <div class="inputelement">
                    <div class="regis_validate regis_valid"
                         ng-show=""></div>
                    <div class="regis_validate regis_unvalid"
                         ng-show=""></div>
                    <input type="password" name="oldpassword" placeholder="Old Password" ng-model="changePassFormData.oldPassword"
                           data-password-verify=""/>
                </div>
				<div class="inputelement">
                    <div class="regis_validate regis_valid"
                         ng-show=""></div>
                    <div class="regis_validate regis_unvalid"
                         ng-show=""></div>
                    <input type="password" name="newpassword" placeholder="New Password" ng-model="changePassFormData.newPassword"
                           data-password-verify=""/>
                </div>
                <!-- <label class="item item-input labelcp">
                    <input type="text" placeholder="New Password" ng-model="changePassFormData.newPassword">
                </label> -->
				
				<div class="inputelement">
                    <div class="regis_validate regis_valid"
                         ng-show=""></div>
                    <div class="regis_validate regis_unvalid"
                         ng-show=""></div>
                    <input type="password" name="confirmnewpassword" placeholder="Confirm New Password" ng-model="changePassFormData.confirmNewPassword"
                           data-password-verify=""/>
                </div>
                <!-- <label class="item item-input labelcp">
                    <input type="text" placeholder="Confirm New Password" ng-model="changePassFormData.confirmNewPassword">
                </label> -->
                <label class="item labelcp">
                    <button class="button button-block button-positive cpbutt" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
