<ion-modal-view class="changepassword">
    <ion-header-bar>
        <h1 class="title">Change Password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeChangePasswordModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitChangePasswordModal()" class="contentchangepass">
            <div class="list">
                <label class="item item-input labelcp">
                    <input type="password" placeholder="Old Password" ng-model="changePassFormData.oldPassword">
                </label>
                <label class="item item-input labelcp">
                    <input type="password" placeholder="New Password" ng-model="changePassFormData.newPassword">
                </label>
                <label class="item item-input labelcp">
                    <input type="password" placeholder="Confirm New Password" ng-model="changePassFormData.confirmNewPassword">
                </label>
                <label class="item labelcp">
                    <button class="button button-block button-positive cpbutt" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
