<ion-view view-title="Register User" name="register-view">
    <ion-content class="padding">
        <form name="registerForm" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="registerData.user_login">
                </label>
                <label class="item item-input">
                    <input type="email" name="email" placeholder="Email" ng-model="registerData.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="registerData.password"/>
                </label>
                <label class="item item-input">
                    <input type="password" name="repeatpassword" placeholder="Repeat password" ng-model="repeatpassword"
                           data-password-verify="registerData.password"/>
                </label>
                <button class="button button-block button-positive" ng-disabled="registerForm.email.$invalid"
                        ng-click="register(registerData)">
                    Register
                </button>
            </div>

            <div class="padding">
                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">* Wrong email format</p>
            </div>

            <div ng-show="registerForm.repeatpassword.$error.passwordVerify">Repeat password does not match!</div>

        </form>
    </ion-content>
</ion-view>