<ion-view view-title="Home">
<!--    <ion-nav-buttons side="left">
        <button class="ion-arrow-left-c" ng-click="logout()">Logout</button>
    </ion-nav-buttons>-->

    <ion-content>

      <div class="list">
          <div ng-repeat="home in homeData">
              <div>{{home.Desription}}</div>
              <a ng-repeat="item in home" 
             href="#/{{item.id}}"
             class="item item-thumbnail-left">

              <img ng-src="{{ item.image }}">
              <h2>{{ item.album }}</h2>
              <h4>{{ item.artist }}</h4>
          </a>
          </div>

      </div>

    </ion-content>
</ion-view>