<ion-view view-title="Home">
<!--    <ion-nav-buttons side="left">
        <button class="ion-arrow-left-c" ng-click="logout()">Logout</button>
    </ion-nav-buttons>-->

    <ion-content>
        <div class="list">
            <div ng-repeat="home in homeData">
                <div><h3>{{home.desription}}</h3></div>
                <div ng-repeat="property in home.listproperty" class="list card my-card remove-underscore">
                    <a ng-click="redirectToDetail({{property.id}})"><img class="item item-image" ng-src="{{ property._thumbnail_id }}"></a>
                    <div class="item">
                        <h2>{{ property.post_title }}</h2>
                        <h2>{{ getOnlyNumber(property.property_bathrooms) }}</h2>
                        <h2>{{ getOnlyNumber(property.property_bedrooms) }}</h2>
                        <h4>Size: {{ formatNumber(property.property_size) }}</h4>
                        <h4>Price: {{ formatNumber(property.property_price) }}</h4>
                        <h4>Valuation: {{ formatNumber(property.property_valuation) }}</h4>
                        <h4>Sale off: {{ countPercent(property.property_valuation, property.property_price) }} %</h4>
                    </div>
                </div>
                <a class="remove-underscore" href="#/home/{{home.id}}">View More</a>
            </div>
        </div>
        
        <div><h3><a class="remove-underscore" href="#">Search</a></h3></div>
        <div><h3><a class="remove-underscore" href="#">Saved Search</a></h3></div>
        <div><h3><a class="remove-underscore" href="#">Notification</a></h3></div>
    </ion-content>
</ion-view>
