body.grade-a {
    min-height: 100%;
    background-image: url('../img/background_login.jpg');
    background-size: 100% 100%;
}


body.keyboard-open > :first-child> .registe{
	background-image: url('../img/background.jpg');
	background-size: 100% auto !important;
}

body.keyboard-open > :first-child> .registe> .mainpage_register{
	top: 20% !important;
}

html {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial;
}
.login-view{
	float: left;
    width: 100%;
    height: 40%;
    position: fixed;
    top: 25%;
    clear: both;
	background-color: transparent;
}



#mainbox {
    width: 80%;
    height: 100%;
    float: top !important;
    margin: auto;
    background: rgba(255, 255, 255, .13);
    border: 0px solid;
    border-radius: 18px;
}
.emailerror{
	color: red;
	float: center;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
input.emailtextbox {
    color: white !important;
    background-color: transparent !important;
    border: transparent;
    margin-left: 10px !important;
    margin-bottom: 3px !important;
    font-size: 15px;
    width: 70%;
	padding-right: 0px !important;
}
input.emailtextbox::-webkit-input-placeholder {
    color: white !important;
	font-size: 13px;
	
}
.loginiteminput{
	background-color: transparent !important;
	border: none;
	border-width: 1px;
    border-color: white;
    border-bottom-style: solid;
	padding: 0px;
	margin-bottom: 18px !important;
}
.list-inset
{
	background-color: transparent;
    width: 70% !important;
    margin: auto !important;
}
.lastrow
{
	position: absolute;
    width: 90%;
    margin-left: auto;
    margin-top: 15px;
    bottom: 8px;
}
.register
{
	color: white !important;
	font-size: 18px;
	margin-right: 5px;
	float: right;
}
div.register
{
	width: 40%;
	float: left;
	position: relative !important;
}
div.forgotpass
{
	width: 40%;
	float: left;
	border-left: 1px solid;
	position: relative !important;
	padding-left: 5px;
}
.forgotpass
{
	color: white !important;
	font-size: 18px;
	margin-left: 5px;
}

.submitbutton {
    background-color: #597423 !important;
    border: 0px solid !important;
    border-radius: 18px !important;
    width: 65% !important;
    height: 40px !important;
	min-height: 40px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 15px !important;
    margin-bottom: 5px !important;
	margin: auto;
}

/* .registerbutton {
    background-color: #FF0000 !important;
    border: 0px solid !important;
    border-radius: 18px !important;
    width: 65% !important;
    height: 40px !important;
	min-height: 40px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 15px !important;
    margin-bottom: 5px !important;
	margin: auto;
} */

.bar-positive
{
	display:none;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: transparent !important;
}

.my-card .item.item-image{
  width: 100vw;
  margin-left: -10px;
}

.my-card.card{
  overflow: visible;
}

.remove-underscore{
  text-decoration: none;
}

/* css for register page */

.registe {
	padding: 0px !important;
	background-color: transparent !important;
	    min-height: 100%;
    background-image: url('../img/background_register.jpg');
    background-size: 100% 100%;
}
.mainpage_register
{
    float: left !important;
    width: 100% !important;
    height:60% !important;
    position:fixed !important;
    top: 37% !important;
    clear: both !important;
}
.mainpage_register  .list-inset
{
	width: 80% !important;
}
.inputelement {
    width: 100%;
    height: 15%;
    margin: auto;
    border-color: white;
    border: 2px solid white;
    margin-bottom: 10px;
}

.inputelement input {
    height: 30px;
    color: white !important;
    background-color: transparent;
    border: transparent;
    margin-left: 40px !important;
    margin-bottom: 3px !important;
    font-size: 15px;
    width: 80%;
}
.regis_validate
{
	float: left;
    height: 100%;
    margin-right: 5px !important;
    position: relative;
	display: none;
}
.regis_valid
{
	display: inline;
	background-image: url('../img/valid.png');
    background-size: 100% 100%;
	width: 32px;
    height: 30px;
}
.regis_unvalid
{
	display: inline;
	background-image: url('../img/unvalid.png');
    background-size: 100% 100%;
	width: 32px;
    height: 30px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white !important;
    font-weight: bold;
    font-size: 15px;
}
.accepttext {
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    margin: auto;
    /* margin-top: 20px; */
}
.registerbutton {
    width: 70%;
    height: 10%;
    color: white;
    text-align: center;
    margin: auto;
}
div.registerbutton button {
    background-color: transparent !important;
    border: 0px solid;
    border-radius: 18px;
    width: 100%;
    height: 30px;
    color: white !important;
    font-weight: bold;
    font-size: 24px;
	margin-bottom: 0px !important;
}
.mainbar
{
	background-image: url('../img/header_background.jpg') !important;
    background-size: 100% 100% !important;
	height: 55px !important;
}
.footerbar
{
	background-image: url('../img/footer_background.jpg') !important;
    background-size: 100% 100% !important;
	height: 65px !important;
	position: absolute;
	padding: 0px !important; 
}
.logoutbutton
{
	font-weight: bold;
    font-size: 34px !important;
	background-color: transparent !important;
    border: 0px solid;
}
.back
{
	height: 40px !important;
}
.leftfoot{
    width: 30%;
    height: 100% !important;
    float: left;
    border: 1px solid white;
	border-bottom: 0px solid white;
	position: relative;
	background-image:url('../img/SEARCH-ICON.png') !important;
	background-size: 40px 40px !important;
	background-repeat: no-repeat;
    background-position: top; 
	
}
.rightfoot{
    width: 30%;
    height: 100%;
    float: right;
    border: 1px solid white;
	border-bottom: 0px solid white;
	background-image:url('../img/NOTIFICATION-ICON.png') !important;
	background-size: 40px 40px !important;
	background-repeat: no-repeat;
    background-position: top; 
}
.notification{
	background-image:url('../img/NOTIFICATION_new.png') !important;
	background-size: 40px 40px !important;
	background-repeat: no-repeat;
    background-position: top; 
}
.centerfoot{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    border-top: 1px solid white;
	background-image:url('../img/SAVED%20SEARCH-MENU%20ICON.png') !important;
	background-size: 40px 40px !important;
	background-repeat: no-repeat;
    background-position: top; 
}
.footerbutton
{
	background-color: transparent !important;
	border: 0px solid;
	width: 1000%;
	padding-top:35px !important;
	font-size: 15px !important;
}
.hadhead{
	top: 55px;
}
h3.grouptitle
{
	margin-left: 15px !important;
	display: inline-block;
    margin-bottom: 0;
    /* line-height: 38px; */
	font-size: 23px !important;
	color: #434a54;
	font-family: 'Open Sans',sans-serif;
	-webkit-margin-before: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

img.propertyimage{
	
	height: 250px !important;
	width: 100% !important;
	margin-left:0px !important;
}
div.propertydetail{
	width: 100% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	
}
div.auction_sticker{
	position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    background-color: #e59400;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 50% !important;
    text-align: center;
    height: 29px;
    line-height: 20px;
	z-index: 1000;
	min-width: 200px !important;
}
div.red-bg{
	background-color: #ed2939 !important;
}
div.wrapperdetail
{
	position: relative !important;
}
div.propertyitemdetail{
	margin-left: -0px;
    /* margin-right: -15px !important; */
	position: absolute;
    bottom: 13px !important;
    z-index: 1000;
    max-height: 76px;
    overflow: visible;
    width: 100%;
    max-width: none;
	background-color: transparent !important;
	padding: 0px !important;
	
}
div.listoverlay
{
	height: 71px;
	position: absolute;
    width: 100%;
    height: 76px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.auction_sticker_second {
	position: absolute;
    padding: 3.5px 10px;
    top: -21px;
    background-color: rgba(0,0,163,0.75);
    width: auto;
    height: auto;
    font-size: 11px;
    line-height: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	
}
h4.homepostitle
{
	color: #99ca3c !important;
	display: block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
	text-decoration: none;
	font-family: 'Open Sans',sans-serif;
	-webkit-transition: color 0.4s linear;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
	font-size: 20px !important;
	margin-bottom: 10px !important;
	min-height: 23px !important;
    margin-top: 5px !important;
	/* min-width: 324px; */
	margin-left: 15px !important;
}
div.property_location
{
	float: left;
	font-size: 13px;
	color: #99a3b1;
    line-height: 1.6em;
	    padding-left: 3px;
		margin: 1px 0px 4px 0px !important;
}
.infoaction
{
	font-size: 11px;
	margin-right: 5px;
    padding: 0 5px;
    color: #fff;
	background-color: #3c90be !important;
	line-height: 1.6em;
	font-family: 'Open Sans',sans-serif;
}
.inforoom
{
	font-size: 12px;
	color: #fff !important;
	margin-right: 5px;
    display: inline-block;
	background-image: url('../img/icon_bed1.png');
    height: 17px;
    background-repeat: no-repeat;
    background-position: 0px 4px;
	padding-left: 23px;
	font-family: 'Open Sans',sans-serif;
}
.infobath
{
	font-size: 12px;
	color: #fff !important;
	margin-right: 5px;
    display: inline-block;
	background-image: url('../img/icon_bath1.png');
    height: 17px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
	padding-left: 18px;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
}
.infosize
{
	font-size: 12px;
	color: #fff !important;
	margin-right: 5px;
    display: inline-block;
	background-image: url('../img/icon-size1.png');
    height: 17px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
	padding-left: 18px;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
}
div.listing_price_area
{
	color: #99ca3c !important;
	padding-right: 0;
	float: right;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
	padding-right: 10px !important;
    vertical-align: baseline;
}
div.groupcontainer{
	border-bottom: 2px solid #627f27;
}

div.viewmore
{
	width: 30%;
	margin: auto;
	min-width: 180px;
	text-align: center;
	background-color: #99ca3c !important;
	color: #fff !important;
    border-radius: 3px !important;
	padding: 10px !important;
    height: 38px;
    line-height: 17px;
    font-size: 15px;
    text-transform: uppercase;
	margin-bottom: 15px;
}
div.viewmore a
{
	color: #fff !important;
}
h2.pdetailtitle
{
	margin-left: 10px;
	max-width: 100%;
	margin-top: 0px !important;
	font-weight: 500;
	display: inline-block;
	color: #00000;
	font-size: 25px !important;
	font-family: 'Open Sans',sans-serif;
}
h2.pdetailtitle2
{
	max-width: 100%;
	font-weight: 500;
	display: inline-block;
	color: #908a8a;
	font-size: 23px !important;
	font-family: 'Open Sans',sans-serif;
	/* margin-bottom: 18px !important; */
}
div.pcbar
{
	width:calc(100%);
	/* margin-bottom:15px !important; */
}
div.pcbaritem
{
	float: left;
	width:calc(25%);
	background-color: transparent !important;
}
.smsbutt
{

	background-color: transparent !important;
	border: 0px solid;
	width: 100%;
	padding-top:35px !important;
	font-size: 15px !important;
	background-image:url('../img/SMSIcon.png') !important;
	background-size: 50% auto !important;
	background-repeat: no-repeat;
    background-position: center; 
}
.savebutt
{
	
	background-color: transparent !important;
	border: 0px solid;
	width: 100%;
	padding-top:35px !important;
	font-size: 15px !important;
	background-image:url('../img/SaveIcon.png') !important;
	background-size: 50% auto !important;
	background-repeat: no-repeat;
    background-position: center; 
}
.callbutt
{
	
	background-color: transparent !important;
	border: 0px solid;
	width: 100%;
	padding-top:35px !important;
	font-size: 15px !important;
	background-image:url('../img/PhoneIcon.png') !important;
	background-size: 50% auto !important;
	background-repeat: no-repeat;
    background-position: center; 
}
.mailbutt
{
	
	background-color: transparent !important;
	border: 0px solid;
	width: 100%;
	padding-top:35px !important;
	font-size: 15px !important;
	background-image:url('../img/Mailicon.png') !important;
	background-size: 50% auto!important;
	background-repeat: no-repeat;
    background-position: center; 
}
div.ava_icon
{
	width: 25% !important;
	display: inline-block;
	height: auto !important;
	min-height: 30px !important;
	padding-left: 0px !important; 
}
img.ava_icon
{
	width: 25% !important;
	height: auto !important;
}
img.ava_full
{
	width: 100% !important;

	height: auto !important;
	max-width: 500px !important;
    max-height: 500px !important;
}

.profileava
{
	height: auto !important;
	border-radius: 50% !important;
	border: 0px !important;
}
span.price_left, span.price_right {
    display: inline-block;
}
.text-black{
	color: black !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-family: 'Open Sans',sans-serif;
}
.sec-color
{
	color: #739a29 !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-family: 'Open Sans',sans-serif;
}
.red-color
{
	color: red !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-family: 'Open Sans',sans-serif;
}
span.price_left {
	font-size: 17px;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
	
}

span.price_right {
    text-align: right;
	display: inline-block;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
	font-size: 17px;
	float: right;
}
span.price_currency
{
	text-align: center!important;
	float: right;
}
.singlecontent
{
	font-size: 15px;
	padding: 0px;
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 22px;
    float: left;
    width: 100%;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
	color: #768082;
	font-family: 'Open Sans',sans-serif;
	border-top: 1px solid #739a29;
	box-sizing: border-box;
}
.adres_area
{
	max-width: 100% !important;
    margin: 10px 0 !important;
	float: none !important;
	clear: both !important;
    font-size: 15px !important;
	font-family: 'Open Sans',sans-serif !important;
	color: #768082 !important;
	overflow: hidden;
    white-space: normal;
	display: block;
}
.adres
{
	border-bottom: 1px solid #739a29;
	margin-bottom: 15px !important;
}
.property-panel {
    margin-bottom: 13px;
}
.property-panel h4:hover
{
	color: #99ca3c;
}
.property-panel .panel {
    margin-bottom: 3px;
    border: none;
    /* box-shadow: none; */
    -webkit-box-shadow: none;
}
.panel-group .panel {
    /* margin-bottom: 0; */
    border-radius: 4px;
}
.property-panel .panel-heading {
    background-color: #f0f0f0;
    background-image: none;
    height: 40px;
    padding: 6px 0px 9px 0px;
    border-radius: 4px;
}
.panel-default > .panel-heading {
/*     background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0); */
    background-repeat: repeat-x;
}
.panel-default > .panel-heading {
    color: #333;
    /* background-color: #f5f5f5; */
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    /* padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
}
.property-panel h4 {
    margin-bottom: 0px;
    font-size: 15px;
    padding: 4px 0px 0px 15px;
	color: #768082;
	font-family: 'Open Sans',sans-serif;
}
.property-panel h4:after {
    font-family: "fontawesome";
    content: "\f106";
    position: relative;
    float: right;
    margin-right: 14px;
}
.collapse.in {
    display: block;
	font-size: 15px;
	font-family: 'Open Sans',sans-serif !important;
	line-height: 22px !important;
	color: #768082;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
}
.property-panel .panel-body {
    padding: 15px 15px;
}
.property-panel .panel-body {
    border: none!important;
}
.listing_detail {
    padding: 3px 0px;
}
strong.listingstrong
{
	font-family: 'Open Sans',sans-serif !important;
	line-height: 22px !important;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.form-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
	display: block;
	overflow: hidden;
    white-space: normal !important;
	clear: both !important;
	border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
	/* text-overflow: ellipsis;
    white-space: nowrap; */
}
.property-panel i {
    margin-right: 10px;
}
h3.infohead
{
	font-size: 20px;
	line-height: 1.3em;
    margin-bottom: 13px;
	font-family: 'Open Sans',sans-serif;
	color: #434a54;
}
h1.customtitle
{
	font-size: 17px;
    color: #6a82a0;
	overflow: hidden;
    white-space: normal !important;
	height: 80px!important;
	line-height: 26px !important;
	margin-top: 7px !important;
}
.custombar
{
	display: block !important;
	height: 70px !important;
}
.menucontent
{
	top: 70px;
}
.currentli {
    background-color: #444a54 !important;
}
a.item-content
{
	background-color: transparent !important;
	color: white !important;
	font-family: 'Open Sans',sans-serif;
}
.normalmenu
{
	background-color: #9aa3b0;
	color: white !important;
	font-family: 'Open Sans',sans-serif;
}


