body.grade-a {
    min-height: 100%;
    background-image: url('../img/background_login.jpg');
    background-size: 100% 100%;
}
html {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial;
}
.login-view{
	float: left;
    width: 100%;
    height: 40%;
    position: fixed;
    top: 25%;
    clear: both;
	background-color: transparent;
}

#mainbox {
    width: 80%;
    height: 100%;
    float: top !important;
    margin: auto;
    background: rgba(255, 255, 255, .13);
    border: 0px solid;
    border-radius: 18px;
}
.emailerror{
	color: red;
	float: center;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
input.emailtextbox {
    color: white !important;
    background-color: transparent !important;
    border: transparent;
    margin-left: 10px !important;
    margin-bottom: 3px !important;
    font-size: 15px;
    width: 70%;
	padding-right: 0px !important;
}
input.emailtextbox::-webkit-input-placeholder {
    color: white !important;
	font-size: 13px;
	
}
.item-input{
	background-color: transparent !important;
	border: none;
	border-width: 1px;
    border-color: white;
    border-bottom-style: solid;
	padding: 0px;
	margin-bottom: 18px !important;
}
.list-inset
{
	background-color: transparent;
    width: 70% !important;
    margin: auto !important;
}
.lastrow
{
	position: absolute;
    width: 90%;
    margin-left: auto;
    margin-top: 15px;
    bottom: 8px;
}
.register
{
	color: white !important;
	font-size: 18px;
	margin-right: 5px;
	float: right;
}
div.register
{
	width: 40%;
	float: left;
	position: relative !important;
}
div.forgotpass
{
	width: 40%;
	float: left;
	border-left: 1px solid;
	position: relative !important;
	padding-left: 5px;
}
.forgotpass
{
	color: white !important;
	font-size: 18px;
	margin-left: 5px;
}

.submitbutton {
    background-color: #597423 !important;
    border: 0px solid !important;
    border-radius: 18px !important;
    width: 65% !important;
    height: 40px !important;
	min-height: 40px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 15px !important;
    margin-bottom: 5px !important;
	margin: auto;
}

/* .registerbutton {
    background-color: #FF0000 !important;
    border: 0px solid !important;
    border-radius: 18px !important;
    width: 65% !important;
    height: 40px !important;
	min-height: 40px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 15px !important;
    margin-bottom: 5px !important;
	margin: auto;
} */

.bar-positive
{
	display:none;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: transparent !important;
}

.my-card .item.item-image{
  width: 100vw;
  margin-left: -10px;
}

.my-card.card{
  overflow: visible;
}

.remove-underscore{
  text-decoration: none;
}

/* css for register page */

.registe {
	padding: 0px !important;
	background-color: transparent !important;
	    min-height: 100%;
    background-image: url('../img/background_register.jpg');
    background-size: 100% 100%;
}
.mainpage_register
{
    float: left !important;
    width: 100% !important;
    height:60% !important;
    position:fixed !important;
    top: 37% !important;
    clear: both !important;
}
.mainpage_register  .list-inset
{
	width: 80% !important;
}
.inputelement {
    width: 100%;
    height: 15%;
    margin: auto;
    border-color: white;
    border: 2px solid white;
    margin-bottom: 10px;
}

.inputelement input {
    height: 30px;
    color: white !important;
    background-color: transparent;
    border: transparent;
    margin-left: 40px !important;
    margin-bottom: 3px !important;
    font-size: 15px;
    width: 80%;
}
.regis_validate
{
	float: left;
    height: 100%;
    margin-right: 5px !important;
    position: relative;
	display: none;
}
.regis_valid
{
	display: inline;
	background-image: url('../img/valid.png');
    background-size: 100% 100%;
	width: 32px;
    height: 30px;
}
.regis_unvalid
{
	display: inline;
	background-image: url('../img/unvalid.png');
    background-size: 100% 100%;
	width: 32px;
    height: 30px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white !important;
    font-weight: bold;
    font-size: 15px;
}
.accepttext {
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    margin: auto;
    /* margin-top: 20px; */
}
.registerbutton {
    width: 70%;
    height: 10%;
    color: white;
    text-align: center;
    margin: auto;
}
div.registerbutton button {
    background-color: transparent !important;
    border: 0px solid;
    border-radius: 18px;
    width: 100%;
    height: 30px;
    color: white !important;
    font-weight: bold;
    font-size: 24px;
	margin-bottom: 0px !important;
}