<ion-view view-title="Home">
<!--    <ion-nav-buttons side="left">
        <button class="ion-arrow-left-c" ng-click="logout()">Logout</button>
    </ion-nav-buttons>-->

    <ion-content>
        <div class="list">
            Detail page
        </div>
        
        <div><h3><a class="remove-underscore" href="#">Search</a></h3></div>
        <div><h3><a class="remove-underscore" href="#">Saved Search</a></h3></div>
        <div><h3><a class="remove-underscore" href="#">Notification</a></h3></div>
    </ion-content>
</ion-view>
