<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Forgot your password?</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitForgotPasswordModal()">
            <div class="list">
                <label>
                    <input type="email" placeholder="Email address" name="email">
                </label>
                <label>
                    <button class="button button-block button-positive" type="submit">Send</button>
                </label>
            </div>
        </form>
        <label>
            <button class="button button-block button-positive" ng-click="closeForgotPasswordModal()">Back
            </button>
        </label>
    </ion-content>
</ion-modal-view>
