<ion-view view-title="Login" name="login-view" class="login-view" hide-nav-bar="true">
    <div id="mainbox">
        <ion-content class="padding" has-header="false">
            <form name="loginForm" novalidate>
                <div class="list list-inset">
                    <label class="item item-input">
                        <img src="img/email-icon.png" width="25" height="25">
                        <input class="emailtextbox" type="email" placeholder="Input your email..." name="username" ng-model="data.user_login">
                    </label>
                    <label class="item item-input">
                        <img src="img/password-icon.png" width="25" height="25">
                        <input class="emailtextbox" type="password" placeholder="Input your password..." ng-model="data.password">
                    </label>
                </div>

                <button class="button button-block button-positive submitbutton" ng-disabled="loginForm.$invalid"
                        ng-click="login(data)">LOGIN
                </button>

                <div class="emailerror">
                    <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine">
					* Username must be an email address
					</p>
                </div>
            </form>
            

        </ion-content>
		<div class="lastrow">
				<div class="register">
					<a href="#/register" class='register'>REGISTER</a>
				</div>
				<div class="forgotpass">
					<a href="#/forgotpass" class='forgotpass'>PASSWORD</a>
				</div>
			 </div>
    </div>
</ion-view>